# Core functionality - changes here should be rare!
/src/app.py                   @erickCantu
/src/backend/database.py      @erickCantu
/src/backend/routers/auth.py  @erickCantu

# The frontend will need refactored soon to be more object oriented.
/src/static/   @erickCantu
